<ion-view view-title="Home">
  <ion-content ng-hide="access_token">

	</ion-content>
  <ion-content ng-show="access_token">
    <div class="row padding notif" ng-show="notification">
		<a class="notification col button button-positive" ng-click="notification.view(notification.data.id)" ng-show="notification.unread">
	      {{notification.data.message}} <span ng-show="notification.data.type == 1">{{notification.data.tournament.name}}</span>
	      <span ng-show="notification.data.type == 2 && notification.data.battle.player_one.nickname == user.nickname">{{notification.data.battle.player_two}}</span>
	      <span ng-show="notification.data.type == 2 && notification.data.battle.player_two.nickname == user.nickname">{{notification.data.battle.player_one}}</span>
	    </a>

	</div>
	<div class="row padding">
	    <div class="list card col">
			<div class="item item-avatar">
				<img src="../img/ionic.png">
				<h2>{{user.nickname}}</h2>
				<p>Level {{user.level.level}} : {{user.current_exp}}/{{user.level.required}}</p>
			</div>

			<a class="item item-icon-left assertive" ui-sref="app.profile">
				<i class="icon ion-person"></i>
				Voir mon profil
			</a>
		</div>
	</div>
	<div class="row padding">
	    <div class="list col">
	    	<div class="item item-divider">
			    Mes tournois en cours
			</div>
			<div class="item item-button-right" ng-repeat="tournament in tournaments">
			    {{tournament.name}}
			    <a class="button button-outline button-positive" href="#/app/tournaments/{{tournament.id}}">
			      <i class="icon ion-eye"></i>
			    </a>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
