<ion-view view-title="Mon profil">
  <ion-content>
	<div class="row padding">
	    <div class="list card col">
			<div class="item item-avatar">
				<img src="../img/ionic.png">
				<h2>{{user.nickname}}</h2>
				<p>Niveau {{user.level.level}} : {{user.current_exp}}/{{user.level.required}}</p>
			</div>

			<div class="item item-body">
				<p>Nom : {{user.lastname}}</p>
				<p>Prénom : {{user.name}}</p>
				<p>Email : {{user.email}}</p>
				<p>Age : {{age}} ans</p>
				<p>Adresse : <br>{{user.address}}<br>{{user.city}}, {{user.country}} </p>
			</div>
		</div>
	</div>
	<div class="row padding">
		<div class="list col">
	    	<div class="item item-divider">
			    Statistiques / Historique
			</div>
			<div class="item">
			    Nombre de tournois joués
			    <span class="item-note">
			      5
			    </span>
			</div>
			<div class="item">
			    Tournois gagnés
			    <span class="item-note">
			      3
			    </span>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
