<ion-view view-title="{{tournament.name}}">
  <ion-content>
	<div class="row padding">
	    <div class="list card col">
			<div class="item">
				<h2>{{tournament.name}}</h2>
				<p>{{tournament.game}}</p>
				<p>{{tournament.state}} - {{date}}</p>
			</div>

			<div class="item item-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo, nibh ac feugiat sagittis, metus diam tristique nibh, ac vehicula arcu mi vitae odio. Sed malesuada gravida augue, sed lobortis ligula scelerisque non. Phasellus tincidunt sit amet sapien sit amet sollicitudin. Suspendisse ultrices lacus quam, a scelerisque mi malesuada feugiat.
			</div>
		</div>
	</div>
	<button class="button button-positive button-clear no-animation"
          ng-click="previous()" ng-show="slideIndex > 0">
    Previous
  </button>
	<button class="button button-positive button-clear no-animation next"
                  ng-click="next()" ng-show="slideIndex != 2">
    Next
  </button>
	<div class="tree">
		<ion-slide-box on-slide-changed="slideChanged($index)">
			<ion-slide ng-repeat="(key, round) in battles_by_round">
				<div class="round" id="round{{key}}">
					<h3>Round {{key}}</h3>
					<ul>
						<li ng-repeat="battle in round" class="card">
							<div class="item item-divider">
							    Match {{battle.number}}
							  </div>
							<p ng-class="{loser: battle.winner.nickname, winner: battle.winner.nickname && battle.winner.nickname == battle.player_one.nickname}">{{battle.player_one.nickname}}</p>
							<p ng-class="{loser: battle.winner.nickname, winner: battle.winner.nickname && battle.winner.nickname == battle.player_two.nickname}">{{battle.player_two.nickname}}</p>
						</li>
					</ul>
				</div>
			</ion-slide>
		</ion-slide-box>
	</div>
	<div class="list col">
    	<div class="item item-divider">
		    Joueurs inscrits à ce tournoi
		</div>
		<div class="item" ng-repeat="player in players">
		    {{player.nickname}} <span>Niveau : {{player.level.level}} </span>
		</div>
	</div>
  </ion-content>
</ion-view>
