<ion-view view-title="{{tournament.name}}">
  <ion-content>
	<div class="row padding">
	    <div class="list card col">
			<div class="item">
				<h2>{{tournament.name}}</h2>
				<p>{{tournament.game}}</p>
				<p>{{tournament.state}} - {{date}}</p>
			</div>

			<div class="item item-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo, nibh ac feugiat sagittis, metus diam tristique nibh, ac vehicula arcu mi vitae odio. Sed malesuada gravida augue, sed lobortis ligula scelerisque non. Phasellus tincidunt sit amet sapien sit amet sollicitudin. Suspendisse ultrices lacus quam, a scelerisque mi malesuada feugiat.
			</div>
		</div>
	</div>
	<div class="list col">
    	<div class="item item-divider">
		    Joueurs inscrits à ce tournoi
		</div>
		<div class="item item-button-right" ng-repeat="player in players">
		    {{player.nickname}}
		</div>
	</div>
  </ion-content>
</ion-view>
